:root {
  --table-horizontal-padding: 200px;
}

.Table {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column-list {
  display: flex;
}

.column-box {
  border: 1px black solid;
  width: 100%;
  box-sizing: border-box;
  display:block;
  padding: 2px;
}

.alternate-row {
  background-color: yellow;
}

.Column {
  margin: 0px;
  border: 1px black solid;
  font-size: 13px;
}

.table-header {
  background-color: #9F3ED5;
  text-align: center;
  padding: 0px var(--table-horizontal-padding);
}
